<div class="pathfinder-block">
    {% assign creature = include.creature %}
    <div class="title-line">
        <h3>{{ creature.name | default: "Creature Name" }}</h3>
        <h3>{{ creature.creature-type | default: "Creature" }} {{ creature.level | default: 1 }}</h3>
    </div>
    <hr>

    {% include pf2-traits.html traits=creature.traits %}

    <p><strong>Perception</strong> {{ creature.perception }}
        {%- if creature.senses -%}
        ; {{ creature.senses }}
        {%- endif -%}
    </p>
    
    {% if creature.languages %}
    <p><strong>Languages</strong> {{ creature.languages }}</p>
    {% endif %}
    
    {% if creature.skills %}
    <p><strong>Skills</strong> {{ creature.skills }}</p>
    {% endif %}

    <p>
        <strong>Str</strong> {% include parse-bonus.html bonus=creature.attributes.str %},
        <strong>Dex</strong> {% include parse-bonus.html bonus=creature.attributes.dex %},
        <strong>Con</strong> {% include parse-bonus.html bonus=creature.attributes.con %},
        <strong>Int</strong> {% include parse-bonus.html bonus=creature.attributes.int %},
        <strong>Wis</strong> {% include parse-bonus.html bonus=creature.attributes.wis %},
        <strong>Cha</strong> {% include parse-bonus.html bonus=creature.attributes.cha %}
    </p>

    {% for ability in creature.passive %}
    <p>
        <strong>{% include parse-symbols.html text=ability.name %}</strong>
        {{ ability.traits }}
        {{ ability.effect }}
    </p>
    {% endfor %}

    <hr>

    <p>
        <strong>AC</strong> {{ creature.ac | default: "10" }};
        <strong>Fort</strong> {% include parse-bonus.html bonus=creature.saves.fort %},
        <strong>Ref</strong> {% include parse-bonus.html bonus=creature.saves.ref %},
        <strong>Will</strong> {% include parse-bonus.html bonus=creature.saves.will %}
    </p>

    <p>
        <strong>HP</strong> {{ creature.hp | default: "12" }}
        {%- if creature.weakness -%}
        ; <strong>Weaknesses</strong> {{ creature.weakness }}
        {%- endif -%}
    </p>

    {% for ability in creature.defense %}
    <p>
        <strong>{% include parse-symbols.html text=ability.name %}</strong>
        {{ ability.traits }}
        {{ ability.effect }}
    </p>
    {% endfor %}

    <hr>

    <p>
        <strong>Speed</strong> {{ creature.speed | default: "25 feet" }}
        {%- if creature.speed-other -%}
        , {{ creature.speed-other }}
        {%- endif -%}
    </p>

    {% for strike in creature.melee %}
    <p>
        <strong>Melee</strong> <span class='pf2-symbol'>1</span> {{ strike.attack -}}
        {% if strike.traits %}
        ({{ strike.traits }})
        {%- endif -%},
        {% if strike.damage %}
        <strong>Damage</strong> {{ strike.damage }}
        {% endif %}
        {% if strike.effect %}
        <strong>Effect</strong> {{ strike.effect }}
        {% endif %}
    </p>
    {% endfor %}

    {% for strike in creature.ranged %}
    <p>
        <strong>Ranged</strong> <span class='pf2-symbol'>1</span> {{ strike.attack -}}
        {% if strike.traits %}
        ({{ strike.traits }})
        {%- endif -%},
        {% if strike.damage %}
        <strong>Damage</strong> {{ strike.damage }}
        {% endif %}
        {% if strike.effect %}
        <strong>Effect</strong> {{ strike.effect }}
        {% endif %}
    </p>
    {% endfor %}

    {% for ability in creature.offense %}
        <p>
            <strong>{% include parse-symbols.html text=ability.name %}</strong>
            {{ ability.traits }}
            {{ ability.effect }}
        </p>
    {% endfor %}

</div>