<div class="pathfinder-block">
    <div class="title-line">
        <h3>{{ include.name | default: "Feat Name" | replace: ":a:", "<span class='pf2-symbol'>1</span>" | replace: ":aa:", "<span class='pf2-symbol'>2</span>" | replace: ":f:", "<span class='pf2-symbol'>f</span>"}}</h3>
        <h3>Feat {{ include.level | default: 1 }}</h3>
    </div>
    <hr>

    {% include pf2-traits.html traits=include.traits %}

    {% if include.prereq %}
    <p><strong>Prerequisite</strong> {{ include.prereq }}</p>
    {% endif %}

    {% if include.trigger %}
    <p><strong>Trigger</strong> {{ include.trigger }}</p>
    {% endif %}

    {% if include.trigger or include.prereq %}
    <hr>
    {% endif %}

    {%- assign content-blocks = include.content | split: "/n" -%}
    <div class="content">
        {%- for block in content-blocks -%}
        <p>{{ block | replace: ":a:", "<span class='pf2-symbol'>1</span>" | replace: ":r:", "<span class='pf2-symbol'>r</span>"}}</p>
        {%- endfor -%}
    </div>

</div>