<ul class="pathfinder-traits">
    {%- for trait-orig in include.traits -%}
    <li 
        {% assign trait = trait-orig | downcase %}
        {% if trait == "uncommon" or trait == "rare" or trait == "unique" %}
        class="trait-{{ trait }}"
        {% elsif trait == "lg" or trait == "ln" or trait == "le" or trait == "ng" or trait == "n" or trait == "ne" or trait == "cg" or trait == "cn" or trait == "ce" %}
        class="trait-align"
        {% elsif trait == "tiny" or trait == "small" or trait == "medium" or trait == "large" or trait == "huge" or trait == "gargantuan" %}
        class="trait-size"
        {% endif %}
    >{{ trait }}</li>
    {%- endfor -%}
</ul>