{% comment %}
feat.name = string, Name of the spell
feat.level = number, Level of the spell (usually, 1-9), default to 1
feat.traits = array of strings, traits of the feat
---
feat.prereq = string, prerequsitite text for the feat
feat.trigger = string, trigger for the feat action
feat.description = string, the feat text
{% endcomment %}
<div class="pathfinder-block">
    {% assign feat = include.feat %}
    <div class="title-line">
        <h3>{% include parse-symbols.html text=feat.name %}</h3>
        <h3>Feat {{ feat.level | default: 1 }}</h3>
    </div>
    <hr>

    {% include pf2-traits.html traits=feat.traits %}

    {% if feat.prereq %}
    <p class="free-text"><strong>Prerequisite</strong> {{ feat.prereq }}</p>
    {% endif %}

    {% if feat.trigger %}
    <p class="free-text"><strong>Trigger</strong> {{ feat.trigger }}</p>
    {% endif %}

    {% if feat.trigger or feat.prereq %}
    <hr>
    {% endif %}

    {%- assign content-blocks = feat.description | split: "/n" -%}
    <div class="content free-text">
        {%- for block in content-blocks -%}
        <p>{% include parse-symbols.html text=block %}</p>
        {%- endfor -%}
    </div>
</div>