<div class="pathfinder-block">
    {% assign item = include.item %}
    <div class="title-line">
        <h3>{{ item.name | default: "Item Name" }}</h3>
        <h3>Item {{ item.level | default: 1 }}</h3>
    </div>
    <hr>

    {% include pf2-traits.html traits=item.traits %}

    {% if item.price %}
    <p><strong>Price</strong> {{ item.price }}</p>
    {% endif %}

    <p>
        {% if item.usage %}
        <strong>Usage</strong> {{ item.usage }};
        {% endif %}
        <strong>Bulk</strong> {{ item.bulk | default: "L"}}
    </p>

    <p>
        {% if item.activate %}
        <strong>Activate</strong> {{ item.activate | replace: ":a:", "<span class='pf2-symbol'>1</span>" | replace:
        ":aa:", "<span class='pf2-symbol'>2</span>" | replace: ":f:", "<span class='pf2-symbol'>f</span>" }}
        {% endif %}
    </p>

    <hr>

    {%- assign content-blocks = item.description | split: "/n" -%}
    <div class="content">
        {%- for block in content-blocks -%}
        <p>{{ block | replace: ":a:", "<span class='pf2-symbol'>1</span>" | replace: ":r:", "<span
                class='pf2-symbol'>r</span>"}}</p>
        {%- endfor -%}
    </div>

    {% if item.versions %}
    {% for version in item.versions %}
    <hr>
    <p>
        <strong>Type</strong> {{ version.name }};
        <strong>Level</strong> {{ version.level }};
        <strong>Price</strong> {{ version.price }}
    </p>
    <p>{{ version.description }} </p>
    {% endfor %}
    {% endif %}

</div>