<div class="pathfinder-block">
    {% assign creature = include.creature %}
    <div class="title-line">
        <h3>{{ creature.name | default: "Creature Name" }}</h3>
        <h3>{{ creature.creature-type | default: "Creature" }} {{ creature.level | default: 1 }}</h3>
    </div>
    <hr>

    {% include pf2-traits.html traits=creature.traits %}

    <p><strong>Perception</strong> {{ creature.perception }}
        {%- if creature.senses -%}
        ; {{ creature.senses }}
        {%- endif -%}
    </p>

    {% if creature.skills %}
    <p><strong>Skills</strong> {{ creature.skills }}</p>
    {% endif %}

    <p>
        <strong>Str</strong> {{ creature.attributes.str | default: "+0" }},
        <strong>Dex</strong> {{ creature.attributes.dex | default: "+0" }},
        <strong>Con</strong> {{ creature.attributes.con | default: "+0" }},
        <strong>Int</strong> {{ creature.attributes.int | default: "+0" }},
        <strong>Wis</strong> {{ creature.attributes.wis | default: "+0" }},
        <strong>Cha</strong> {{ creature.attributes.cha | default: "+0" }}
    </p>

    <hr>

    <p>
        <strong>AC</strong> {{ creature.ac | default: "10" }};
        <strong>Fort</strong> {{ creature.fort | default: "+0" }},
        <strong>Ref</strong> {{ creature.ref | default: "+0" }},
        <strong>Will</strong> {{ creature.will | default: "+0" }}
    </p>

    <p>
        <strong>HP</strong> {{ creature.hp | default: "12" }}
    </p>

    <hr>

    <p>
        <strong>Speed</strong> {{ creature.speed | default: "25 feet" }}
        {%- if creature.speed-other -%}
        , {{ creature.speed-other }}
        {%- endif -%}
    </p>

    {% for strike in creature.melee %}
    <p>
        <strong>Melee</strong> <span class='pf2-symbol'>1</span> {{ strike.attack }},
        {% if strike.damage %}
        <strong>Damage</strong> {{ strike.damage }}
        {% endif %}
        {% if strike.effect %}
        <strong>Effect</strong> {{ strike.effect }}
        {% endif %}
    </p>
    {% endfor %}

    {% for strike in creature.ranged %}
    <p>
        <strong>Ranged</strong> <span class='pf2-symbol'>1</span> {{ strike.attack }},
        {% if strike.damage %}
        <strong>Damage</strong> {{ strike.damage }}
        {% endif %}
        {% if strike.effect %}
        <strong>Effect</strong> {{ strike.effect }}
        {% endif %}
    </p>
    {% endfor %}

    {% for ability in creature.offense %}
        <p>
            <strong>{% include pf2-text.html text=ability.name %}</strong>
            {{ ability.effect }}
        </p>
    {% endfor %}

</div>