@import url(./fonts-and-colors.css);

/*          || Main Settings             */
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

/*          || Navigation Menu          */


nav {
    background-color: var(--navbar-bg-color);
    padding: 0rem;
    margin: 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
}   

nav a {
    padding: 1rem 2rem;
    color: var(--navbar-text-color);
}

nav a.current {
    color: var(--navbar-current-text-color);
}

nav a:hover {
    background-color: var(--navbar-text-color);
    color: var(--navbar-bg-color);
}

nav a.current:hover {
    background-color: var(--navbar-current-text-color);
}